body{
  background-color: #121212;
}
h2 {
  font-family: poppins;
  font-weight: 400;
  margin: 0;
  color: #fff;
}
span {
  font-size: 20px;
  font-family: poppins;
  font-weight: 300;
  color: #fff;
}
img.berry-sprite {
  width: 80px;
}
.berry-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #292929;
  border-radius: 5px;
  margin-top: 30px;
}
input[type="text"] {
  border: none;
  padding: 10px 5px;
  font-size: 16px;
  border-radius: 5px;
  width: 85%;
  margin-right: 5%;
  background-color: #292929;
}
input[type="text"]::placeholder {
  color: #fff;
  font-family: poppins;
  font-weight: 300;
  padding-left: 10px;
}
button {
  border: none;
  border-radius: 5px;
  background: #292929;
  color: #fff;
  font-family: poppins;
  font-weight: 300;
  width: 10%;
}
.input-container {
  display: flex;
}
.berry-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  margin-top: 50px;
}
a.menu-item {
  display: inline-block;
  text-decoration: none;
  margin: 10px 30px;
  margin-left: 0;
  font-size: 18px;
  color: #fff;
  font-family: poppins;
}
.info-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  margin-top: 50px;
}
.info-container h1, .info-container p {
  margin: 0;
  font-family: poppins;
  color: #fff;
}
.info-container p {
  font-weight: 300;
}
.menu-container {
  display: flex;
  flex-direction: row;
  background-color: orange;
  padding: 10px;
}
.menu-container div {
  width: 60%;
  margin: auto;
}